<h1>Users Component</h1>

<p>By default all users are displayed. However, you can filtered out Users with given buttons below.</p>

<mat-button-toggle-group name="fontStyle" aria-label="Users">
	<mat-button-toggle value="user">Admin</mat-button-toggle>
	<mat-button-toggle value="editor">Editor</mat-button-toggle>
	<mat-button-toggle value="user">User</mat-button-toggle>
</mat-button-toggle-group>

<mat-table [dataSource]="dataSource" matSort>
	<!-- Name Column -->
	<ng-container matColumnDef="name">
		<mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
		<mat-cell *matCellDef="let row"> {{row.first_name}} {{row.last_name}} </mat-cell>
	</ng-container>

	<!-- Email Column -->
	<ng-container matColumnDef="email">
		<mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
		<mat-cell *matCellDef="let row"><a href="mailto:{{row?.email}}"> {{row?.email}}</a> </mat-cell>
	</ng-container>

	<!-- Type Column -->
	<ng-container matColumnDef="type">
		<mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
		<mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
	</ng-container>

	<!-- Date Column -->
	<ng-container matColumnDef="date">
		<mat-header-cell *matHeaderCellDef mat-sort-header> Registration Date </mat-header-cell>
		<mat-cell *matCellDef="let row"> {{row.registered | date}} </mat-cell>
	</ng-container>

	<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
	<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>